{% comment %} changed the currency_visible to 'false' in both cases as the settings have a location that sets it on true but we do not want it - Yurith {% endcomment %}
{% liquid
  assign links = linklists[menu].links

  assign account_visible = false
  if shop.customer_accounts_enabled
    assign account_visible = true
  endif

  assign language_visible = false
  if shop.published_locales.size > 1
    assign language_visible = true
  endif

  assign currency_visible = false
  if localization.available_countries.size > 1
    assign currency_visible = false
  endif

  assign logo_uppercase = settings.logo_uppercase

  assign logo_size_control = 'height'

  if logo != blank
    if logo.aspect_ratio > 1.5
      assign logo_size_control = 'width'
    endif
  endif
%}

{% capture settings %}
  {
    "limit": {{ settings.search_max_result_size | json }},
    "show_articles": {{ settings.search_show_articles | json }},
    "show_pages": {{ settings.search_show_pages | json }},
    "show_products": {{ settings.search_show_products | json }},
    "show_price": {{ settings.search_show_price | json }},
    "show_vendor": {{ settings.search_show_vendor | json }}
  }
{% endcapture %}

<section
  class="drawer-menu"
  data-drawer-menu
  data-scroll-lock-ignore
>
  <div class="drawer-menu__overlay" data-overlay></div>

  <div class="drawer-menu__panel shadow-3">

    <div class="drawer-menu__search-overlay" id="drawer-menu__search" data-quick-search>
      <script type="application/json" data-settings>{{ settings }}</script>
      <form action="{{ routes.search_url }}" class="quick-search__container" autocomplete="off">
        <div class="drawer-menu__search-bar">
          <label for="drawer-menu__search-input" class="vidually-hidden"></label>
          <input
            id="drawer-menu__search-input"
            class="drawer-menu__search-input input-reset"
            type="text"
            name="q"
            placeholder="{{ 'search.placeholder' | t }}"
            data-input
          />
          <a 
            href="#" 
            class="drawer-menu__search-close" 
            data-close 
            aria-label="{{ 'general.accessibility.close_modal' | t }}" 
            aria-expanded="false" 
            aria-controls="drawer-menu__search"
          >
            {% render 'icon-chevron-left' %}
          </a>
        </div>
        <div class="drawer-menu__search-results" data-results data-scroll-lock-ignore></div>
      </form>
    </div>

    <div class="drawer-menu__header">
      <a href="{{ routes.root_url }}" class="drawer-menu__logo{% if logo_uppercase %} ttu{% endif %}{% if logo != blank %} has-custom-logo{% endif %} logo-orientation--{{ logo_size_control }}">
        {%- if logo != blank -%}
          {% capture image_size %}{{ logo_max_size }}x{% endcapture %}
          <img
            src="{{ logo | img_url: image_size }}"
            srcset="{{ logo | img_url: image_size }} 1x, {{ logo | img_url: image_size, scale: 2 }} 2x"
            alt="{{ logo.alt | default: shop.name }}">
        {%- else -%}
          {{ shop.name }}
        {%- endif -%}
      </a>
      <a href="#" class="drawer-menu__close" data-close-drawer aria-label="{{ 'general.accessibility.close_modal' | t }}">
        {% render 'icon-close' %}
      </a>
    </div>

    <div class="drawer-menu__bottom">
      <div class="drawer-menu__all-links" data-depth="0" data-all-links>
        <div class="drawer-menu__contents" data-scroll-lock-ignore>

          <div class="drawer-menu__main" data-main role="navigation">
            <ul class="drawer-menu__primary-links" data-primary-container="true" data-depth="0">
              {% render 'drawer-menu-list', links: links %}
            </ul>
          </div>
        </div>

        <ul class="drawer-menu__footer" data-footer>
          {%- if account_visible -%}
            <li class="drawer-menu__item" data-list-item>
              <a class="drawer-menu__link" href="{{ routes.account_url }}">
                {%- if customer -%}
                  {{ 'sections.drawer_menu.account.logged_in' | t }}
                {% else %}
                  {{ 'sections.drawer_menu.account.logged_out' | t }}
                {%- endif -%}
              </a>
            </li>
          {%- endif -%}

          {%- if language_visible or currency_visible -%}
            {%- form 'localization', class: 'drawer-menu__form' -%}
              {%- if language_visible -%}
                <li class="drawer-menu__item" data-list-item>
                  <a class="drawer-menu__link" href="#" data-item="secondary">
                    {{ 'sections.drawer_menu.language' | t }}
                    {% render 'icon-chevron-right' %}
                  </a>
                  <ul class="drawer-menu__list drawer-menu__list--sub drawer-menu__list--language-selector">
                    <li class="drawer-menu__item drawer-menu__item--heading">
                      <button class="drawer-menu__link" data-item="secondaryHeading">
                        <span>{{ 'sections.drawer_menu.language' | t }}</span>
                        {% render 'icon-chevron-left' %}
                      </button>
                    </li>
                    {% for locale in form.available_locales %}
                      <li class="drawer-menu__item" data-list-item>
                        <a class="drawer-menu__link drawer-menu__link--cb" href="#" data-item="locale" data-value="{{ locale.iso_code }}">
                          <div class="drawer-menu__radio">
                            {% if locale.iso_code == form.current_locale.iso_code %}<div></div>{% endif %}
                          </div>
                          <span>{{ locale.endonym_name }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </li>
                <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-locale-input />
              {%- endif -%}

              {%- if currency_visible -%}
                <li class="drawer-menu__item" data-list-item>
                  <a class="drawer-menu__link" href="#" data-item="secondary">
                    {{ 'sections.drawer_menu.currency' | t }}
                    {% render 'icon-chevron-right' %}
                  </a>
                  <ul class="drawer-menu__list drawer-menu__list--sub drawer-menu__list--country-selector">
                    <li class="drawer-menu__item drawer-menu__item--heading">
                      <button class="drawer-menu__link" data-item="secondaryHeading">
                        <span>{{ 'sections.drawer_menu.currency' | t }}</span>
                        {% render 'icon-chevron-left' %}
                      </button>
                    </li>
                    {% for country in localization.available_countries %}
                      <li class="drawer-menu__item" data-list-item>
                        <a class="drawer-menu__link drawer-menu__link--cb" href="#" data-item="currency" data-value="{{ country.iso_code }}">
                          <div class="drawer-menu__radio">
                            {% if country.iso_code == localization.country.iso_code %}<div></div>{% endif %}
                          </div>
                          <span>{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </li>
                <input type="hidden" name="country_code" id="CurrencySelector" value="{{ localization.country.iso_code }}" data-currency-input />
              {%- endif -%}
            {%- endform -%}
          {%- endif -%}
          <li class="drawer-menu__item drawer-menu__item--search">
            <a class="drawer-menu__link" href="{{ routes.search_url }}" data-search aria-expanded="false" aria-controls="drawer-menu__search">
              {{ 'sections.drawer_menu.search' | t }}
            </a>
          </li>

          <li class="drawer-menu__item drawer-menu__item--social-links">
            {%- render 'social-icons' -%}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  {% if logo != blank %}
    .drawer-menu__logo.has-custom-logo {
      {{ logo_size_control }}: {{ logo_max_size }}px;
    }
  {% endif %}
</style>