

{% assign currentVariant = product.selected_or_first_available_variant %}


{% if option.name == 'Bezugsart' %}

    {% for variant in product.variants %}
      {% assign coverType = variant.metafields.bgd['cover-type'] %}

      {% if variant.id == currentVariant.id %}
          <div class="bezugsart-option" id="bezugsart-option-{{ variant.id }}">
            <span class="icon-info"></span>
            {{ coverType }}
          </div>
      {% else %}
          <div class="bezugsart-option hide" id="bezugsart-option-{{ variant.id }}">
           <span class="icon-info"></span>
            {{ coverType }}
          </div>
      {% endif %}
    {% endfor %}

{% endif %}

{% if option.name == 'Wählen Sie eine Bezugsart aus:' %}
  {% for variant in product.variants %}
	{% assign coverType = variant.metafields.bgd['cover-type'] %}

	{% if variant.id == currentVariant.id %}
	  	<div class="set-bezugsart-option" id="set-bezugsart-option-{{ variant.id }}">
          <span class="icon-info"></span>
       	  {{ coverType }}
        </div>
  	{% else %}
        <div class="set-bezugsart-option hide" id="set-bezugsart-option-{{ variant.id }}">
          <span class="icon-info"></span>
          {{ coverType }}
        </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if option.name == 'Gewicht' %}
  {% for variant in product.variants %}
	{% assign weightType = variant.metafields.bgd['weight'] %}
	{% if variant.id == currentVariant.id %}
        <div class="weight-option" id="weight-option-{{ variant.id }}">
          <span class="icon-info"></span>
       	  {{ weightType }}
        </div>
  	{% else %}
        <div class="weight-option hide" id="weight-option-{{ variant.id }}">
          <span class="icon-info"></span>
          {{ weightType }}
        </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if option.name == 'Was entspricht ungefähr 10% Ihres Körpergewichts?' %}
  {% for variant in product.variants %}
	{% assign weightType = variant.metafields.bgd['weight'] %}
	{% if variant.id == currentVariant.id %}
        <div class="set-weight-option" id="set-weight-option-{{ variant.id }}">
          <span class="icon-info"></span>
       	  {{ weightType }}
        </div>
  	{% else %}
        <div class="set-weight-option hide" id="set-weight-option-{{ variant.id }}">
          <span class="icon-info"></span>
          {{ weightType }}
        </div>
    {% endif %}
  {% endfor %}
{% endif %}
