{% assign pagination_current_item_start = paginate.current_offset | plus: 1 %}
{% assign pagination_current_item_end = paginate.current_page | times: paginate.page_size %}
{% assign current_pagination_range = pagination_current_item_start %}

{% if pagination_current_item_end > paginate.items %}
  {% assign pagination_current_item_end = paginate.items %}
{% endif %}

{% assign current_pagination_range = current_pagination_range | append: '-' | append: pagination_current_item_end %}

<div class="pagination">
  {%- unless display_paginate_item_count_only -%}
    <ul class="pagination__list list ma0 pa0 flex flex-wrap">

      {%- if paginate.previous != blank -%}
        <li class="pagination__item pagination__previous">
          <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
            <span class="visually-hidden">{{ 'general.pagination.previous' | t }}</span>
            {% render 'icon-arrow-forward' %}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- capture li_classes -%}
          {%- if part.title == paginate.current_page -%}
            pagination__item pagination__item--active
          {%- elsif part.title == "&hellip;" -%}
            pagination__ellip
          {%- else -%}
            pagination__item
          {%- endif -%}
        {%- endcapture -%}

        <li class="{{ li_classes }}">
          {%- if part.is_link == true -%}
            <a href="{{ part.url }}" >{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == "&hellip;" -%}
              <span>{{ part.title }}</span>
            {%- else -%}
              <span>{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}

        </li>
      {%- endfor -%}

      {%- if paginate.next != blank -%}
        <li class="pagination__item pagination__next">
          <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
            <span class="visually-hidden">{{ 'general.pagination.next' | t }}</span>
            {% render 'icon-arrow-forward' %}
          </a>
        </li>
      {%- endif -%}
    </ul>
  {%- endunless -%}

  <p class="mv0 flex items-center">{{ 'general.pagination.viewing' | t: of: current_pagination_range, total: paginate.items }} {{ type | t }}</p>
</div>
