<section class="section account">

  <div class="account__auth-wrapper">

    <h1 class="account__auth-wrapper-heading type-heading-1">{{ 'customer.register.title' | t }}</h1>

    {% form 'create_customer' %}
      {% assign form_id = "RegisterForm" %}
      {% assign success_msg = 'customer.register.success' | t %}
      {% render 'form-status', form: form, form_id: form_id, success_message: success_msg %}

      <div class="relative">
        <input type="text"
          name="customer[first_name]"
          id="{{ form_id }}-first_name"
          class="input"
          autocomplete="given-name"
          autocorrect="off"
          placeholder="{{ 'customer.register.first_name' | t }}"
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
        <label for="{{ form_id }}-first_name" class="label--above">
          {{ 'customer.register.first_name' | t }}
        </label>
      </div>

      <div class="relative">
        <input type="text"
          name="customer[last_name]"
          id="{{ form_id }}-last_name"
          class="input"
          autocomplete="family-name"
          autocorrect="off"
          placeholder="{{ 'customer.register.last_name' | t }}"
          {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
        <label for="{{ form_id }}-last_name" class="label--above">
          {{ 'customer.register.last_name' | t }}
        </label>
      </div>

      <div class="relative">
        <input type="email"
          name="customer[email]"
          id="{{ form_id }}-email"
          class="input {% if form.errors contains 'email' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% endif %}"
          spellcheck="false"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'email' %}aria-describedby="{{ form_id }}-email-error"{% endif %}
          required>
        <label for="{{ form_id }}-email" class="label--above">
          {{ 'customer.register.email' | t }}
        </label>
      </div>

      <div class="relative">
        <input type="password"
          name="customer[password]"
          id="{{ form_id }}-password"
          class="input {% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.password' | t }}"
          {% if form.errors contains 'password' %}aria-describedby="{{ form_id }}-password-error"{% endif %}
          autocorrect="off"
          autocapitalize="off"
          required>
        <label for="{{ form_id }}-password" class="label--above">
          {{ 'customer.register.password' | t }}
        </label>
      </div>

      <input type="submit" value="{{ 'customer.register.submit' | t }}" class="bttn bttn--full mb3">

      <div class="login__links">
        <a class="underline" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
      </div>
    {% endform %}

  </div>

</section>