<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'theme-setup' %}
  {% render 'theme-setting-vars' %}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {% render 'social-meta-tags' %}

  {{ content_for_header }}
</head>

  <body class="template-password">
    {{ content_for_layout }}

    {% comment %}
      Set the following line to true to use the single theme.classic.js (no code-splitting, editable)
    {% endcomment %}
    {% assign useLegacyThemeJS = false %}

    {% if useLegacyThemeJS %}
      {% comment %}This is the classic monolithic build that is optionally used by intermediary theme devs who need to edit the JS{% endcomment %}
      <script src="{{ 'theme.classic.js' | asset_url }}" ></script>
    {% else %}
      {% comment %}This is the ES Module for modern browsers.  This features code splitting {% endcomment %}
      <script type="module" src="{{ 'theme.js' | asset_url }}" ></script>

      {% comment %}This is the fallback for browsers that don't support ES Modules, code-splitting is supported by systemJS{% endcomment %}
      <script nomodule src="{{ 's.min.js' | asset_url }}"></script>
      <script nomodule>
          System.import('{{ 'theme.nomodule.js' | asset_url }}');
      </script>
    {% endif %}

    {% comment %}
      Set the following line to true to import custom-events.js
    {% endcomment %}
    {% assign useCustomEvents = false %}

    {% if useCustomEvents %}
      <script src="{{ 'custom-events.js' | asset_url }}" ></script>
    {% endif %}
  </body>

</html>
