{% liquid
  assign id = section.id
  assign section_style = section.settings.section_style
  assign featured_collection = collections[section.settings.collection]
  assign heading_alignment = section.settings.heading_alignment
  assign overline = section.settings.overline
  assign heading = section.settings.title
  assign subheading = section.settings.subheading
  assign text_max_width = section.settings.text_max_width
  assign link_text = section.settings.link_text
  assign total_row = section.settings.total_row
  assign products_per_row = section.settings.products_per_row
  assign aspect_ratio = section.settings.aspect_ratio
%}

{% assign total_products = total_row | times: products_per_row %}
{% assign item_width = '' %}

{% assign modifiers = '' %}
{% assign modifiers = modifiers | append: ' section--' | append: section_style %}

{% unless section_style == 'contrast' %}
  {% assign modifiers = modifiers | append: ' section--bordered' %}
{% endunless %}

{%- case products_per_row -%}
  {%- when 2 -%}
    {%- assign item_width = 'one-half' -%}
  {%- when 3 -%}
    {%- assign item_width = 'one-third' -%}
  {%- when 4 -%}
    {%- assign item_width = 'one-quarter' -%}
{%- endcase -%}

{% assign grid_modifiers = '' %}

{% assign grid_modifiers = grid_modifiers | append: ' grid-display--' | append: item_width %}
{% assign grid_modifiers = grid_modifiers | append: ' grid-display--has-products' %}
{% assign grid_modifiers = grid_modifiers | append: ' grid-display--' | append: aspect_ratio %}


<section
  data-section-id="{{ id }}"
  data-section-type="featured-collection-grid"
  class="section featured-collection-grid{{ modifiers }}"
>

  {% render 'text-block' with
    id: id,
    modifiers: 'mb5 animation__staggered-children-fade-in',
    heading_alignment: heading_alignment,
    text_max_width: text_max_width,
    overline: overline,
    heading: heading,
    subheading: subheading,
    link: featured_collection.url,
    link_text: link_text
  %}

  <div class="grid-display{{ grid_modifiers }}">
    {% if featured_collection != blank %}
      {%- for product in featured_collection.products limit: total_products -%}
        <div class="grid-display__item animates">
          {%
            render 'product-item', product: product,
            aspect_ratio: aspect_ratio
          %}
        </div>
      {%- endfor -%}

    {% else %}
      {% for i in (1..total_products) %}
        <div class="featured-collection__item animates featured-collection__item--{{ products_per_row }}">
          <div class="w-100">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            <div class="product-item__placeholder">
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>

            <h2 class="type-body-regular mt3 mb0">
              {{ 'homepage.onboarding.product_title' | t }}
            </h2>
            <p class="price-item price-item--regular ma0 meta">{{ 2000 | money }}</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>



{% schema %}
  {
    "name": "t:sections.featured_collection_grid.name",
    "class": "section-dynamic section-borderable",
    "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "customers/account", "customers/activate_account", "customers/addresses", "customers/login", "customers/order", "customers/register", "customers/reset_password", "gift_card", "index", "page", "product", "search"],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.featured_collection_grid.settings.style_header.content"
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "t:sections.featured_collection_grid.settings.section_style.label",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "t:sections.featured_collection_grid.settings.section_style.option_1"
          },
          {
            "value": "contrast",
            "label": "t:sections.featured_collection_grid.settings.section_style.option_2"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.featured_collection_grid.settings.content_header.content"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "t:sections.featured_collection_grid.settings.collection.label"
      },
      {
        "id": "products_per_row",
        "type": "range",
        "label": "t:sections.featured_collection_grid.settings.products_per_row.label",
        "default": 3,
        "min": 2,
        "max": 4,
        "step": 1
      },
      {
        "id": "total_row",
        "type": "range",
        "label": "t:sections.featured_collection_grid.settings.total_row.label",
        "default": 2,
        "min": 1,
        "max": 3,
        "step": 1
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "t:sections.featured_collection_grid.settings.aspect_ratio.label",
        "options": [
          { "label": "t:sections.featured_collection_grid.settings.aspect_ratio.option_1", "value": "natural" },
          { "label": "t:sections.featured_collection_grid.settings.aspect_ratio.option_2", "value": "square" },
          { "label": "t:sections.featured_collection_grid.settings.aspect_ratio.option_3", "value": "landscape" },
          { "label": "t:sections.featured_collection_grid.settings.aspect_ratio.option_4", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "type": "text",
        "id": "overline",
        "label": "t:sections.featured_collection_grid.settings.overline.label",
        "default": "Collection"
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.featured_collection_grid.settings.title.label",
        "default": "Featured collection"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "t:sections.featured_collection_grid.settings.subheading.label",
        "default": "<p>Add a subheading to provide more details about this collection.</p>"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "t:sections.featured_collection_grid.settings.link_text.label",
        "default": "Shop now"
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "t:sections.featured_collection_grid.settings.heading_alignment.label",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "t:sections.featured_collection_grid.settings.heading_alignment.option_1"
          },
          {
            "value": "center",
            "label": "t:sections.featured_collection_grid.settings.heading_alignment.option_2"
          }
        ]
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "t:sections.featured_collection_grid.settings.text_max_width.label",
        "min": 16,
        "max": 50,
        "step": 1,
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured_collection_grid.presets.featured_collection_grid.name"
      }
    ]
  }
{% endschema %}
