{% liquid
  assign product = blank
  if section.settings.product != blank
    assign product = all_products[section.settings.product]
  endif
  
  assign section_style = section.settings.section_style
  assign form_id = 'product_form_' | append: product.id | appened: '_' | append: section.id
  assign enable_video_looping = section.settings.enable_video_looping
  assign enable_ajax = settings.enable_ajax
  
  assign current_variant = product.selected_or_first_available_variant
  assign compare_at_price = current_variant.compare_at_price
  assign price = current_variant.price
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media

  assign show_price_comparison = false

  if current_variant.compare_at_price > current_variant.price
    assign show_price_comparison = true
  endif

  assign has_quantity_selector = false
  for block in section.blocks
    case block.type
      when 'quantity_selector'
        assign has_quantity_selector = true
    endcase
  endfor


  assign modifiers = ''

  if section_style == 'contrast'
    assign modifiers = ' section--contrast'
  else
    assign modifiers = ' section--bordered'
  endif
-%}

{% capture "form_classes" -%}
  product-form product-form-{{ section.id }}
  {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
  {%- if show_dynamic_checkout and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
  {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
{%- endcapture %}

{%- capture product_blocks -%}
  {%- if product != blank -%}
    {% form 'product',
      product,
      id: form_id,
      class: form_classes,
      novalidate: 'novalidate',
      data-product-form: '',
      data-product-handle: product.handle,
      data-ajax-enabled: enable_ajax
    %}
      <div class="product-form__inner">

        {%- for block in section.blocks -%}

          {%- case block.type -%}
            {%- when 'vendor' -%}
              {%- if product != blank -%}
                <p {{ block.shopify_attributes }} class="product__vendor overline">{{ product.vendor | link_to_vendor }}</p>
              {%- else -%}
                <p {{ block.shopify_attributes }} class="product__vendor overline">{{ 'homepage.onboarding.product_vendor' | t }}</p>
              {%- endif -%}

            {%- when 'sku' -%}

                {%- if product != blank -%}
                  {% if current_variant.sku != blank %}
                    <p {{ block.shopify_attributes }} class="product__sku" data-product-sku>
                      {{ 'products.product.sku_with_value' | t: value: current_variant.sku }}
                    </p>
                  {% endif %}
                {%- else -%}
                  <p {{ block.shopify_attributes }} class="product__sku" data-product-sku>
                    {{ 'homepage.onboarding.product_sku' | t }}
                  </p>
                {%- endif -%}

            {%- when 'title' -%}
              <h1
                {{ block.shopify_attributes }}
                class="product__title type-heading-dynamic"
                style="--title-font-size: {{ block.settings.title_text_size }}px;"
              >
              {%- if product != blank -%}
                {{ product.title }}
              {%- else -%}
                {{ 'homepage.onboarding.product_title' | t }}
              {%- endif -%}
            </h1>


            {%- when 'product_rating' -%}
              {%- if product != blank -%}
                {%- if product.metafields.reviews.rating.value != blank -%}
                  <div {{ block.shopify_attributes }} class="product__rating">
                    {% render 'product-rating' with product: product, star_color: block.settings.star_color %}
                  </div>
                {%- endif -%}
              {%- endif -%}

            {%- when 'price' -%}
              {%- if product != blank -%}
                <div {{ block.shopify_attributes }} class="product__price type-body-regular" style="--price-font-size: {{ block.settings.price_text_size }}px;">
                  <s class="product-compare-price_css" data-compare-price class="mr1 meta{% if show_price_comparison == false %} hide{% endif %}">
                    {% if show_price_comparison %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                  </s>
                  <span class="product-price_css" data-product-price>{{ current_variant.price | money }}</span>
                  {% render 'unit-price' item: current_variant %}
                </div>
              {%- endif -%}

            {%- when 'border' -%}
              <hr {{ block.shopify_attributes }} class="product__border">

            {%- when 'variant_picker' -%}
              {%- if product != blank -%}
                {% unless product.has_only_default_variant %}
                  <div {{ block.shopify_attributes }} class="product-form__controls-group product-form__controls-group--options">
                    {% render 'product-form-options' with
                      product: product,
                      block: block
                    %}
                  </div>
                {% endunless %}
              {%- endif -%}

            {%- when 'quantity_selector' -%}
              {%- if product != blank -%}
                {% render 'product-quantity' with
                  product: product, 
                  form_id: form_id,
                  show_quantity_input: true 
                %}
                <div class="product__quantity-error hidden" data-quantity-error>
                  {{ 'products.product.quantity_error' | t }}
                </div>
              {%- endif -%}

            {%- when 'buy_buttons' -%}
              {%- if product != blank -%}
        		{% comment %}
                  {%- unless has_quantity_selector -%}
                    <div class="product__quantity-error hidden" data-quantity-error>
                      {{ 'products.product.quantity_error' | t }}
                    </div>
                  {%- endunless -%}
        		{% endcomment %}

                {% render 'product-buy-buttons' with
                  product: product,
                  current_variant: current_variant,
                  show_dynamic_checkout: block.settings.show_dynamic_checkout,
                  form: form
                %}
              {%- endif -%}

            {%- when 'inventory_counter' -%}
              {%- if product != blank -%}
                {%- render 'inventory-counter' with
                  product: product,
                  show_label: block.settings.show_label,
                  inventory_max: block.settings.inventory_max,
                  low_inventory_threshold: block.settings.low_inventory_threshold,
                  current_variant: current_variant
                -%}
              {%- endif -%}

            {%- when 'description' -%}
              {%- case block.settings.style -%}
                {%- when 'paragraph' -%}
                  <div {{ block.shopify_attributes }} class="product__description mt5 rte">
                    {%- if product != blank -%}
                      {{ product.description }}
                    {%- else -%}
                      {{ 'homepage.onboarding.product_description' | t }}
                    {%- endif -%}
                  </div>
                {%- when 'open' -%}
                  <div {{ block.shopify_attributes }} class="accordion">
                    <div class="accordion__group">
                      <button 
                        class="accordion__label type-heading-3" 
                        aria-expanded="true" 
                        aria-controls="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}"
                      >
                        {{ 'products.product.description' | t }}
                      </button>
                      <div id="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}" class="accordion__text" style="display: block;">
                        {%- if product != blank -%}
                          {{ product.description }}
                        {%- else -%}
                          {{ 'homepage.onboarding.product_description' | t }}
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                {%- when 'closed' -%}
                  <div {{ block.shopify_attributes }} class="accordion">
                    <div class="accordion__group">
                      <button 
                        class="accordion__label type-heading-3" 
                        aria-expanded="false" 
                        aria-controls="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}"
                      >
                        {{ 'products.product.description' | t }}
                      </button>
                      <div id="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}" class="accordion__text">
                        {%- if product != blank -%}
                          {{ product.description }}
                        {%- else -%}
                          {{ 'homepage.onboarding.product_description' | t }}
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
              {%- endcase -%}

            {%- when 'share' -%}
              {%- if product != blank -%}
                <div {{ block.shopify_attributes }} class="product__share-container">
                  <button
                    type="button"
                    class="product__share"
                    data-social-share
                    aria-haspopup="true"
                  >
                    <span class="product__share-text">
                      {%- render 'icon-share' with non_focusable: true -%}
                      {{ 'general.social.share' | t }}
                    </span>

                    <div class="product__share-icons" aria-hidden="true" aria-label="{{ 'general.social.alt_text.share_menu' | t }}">
                      {% render 'share-icons' with
                        url: product.url,
                        title: product.title,
                        image: product.featured_image
                      %}
                    </div>
                  </button>
                </div>
              {%- endif -%}

            {%- when 'accordion' -%}
              <div {{ block.shopify_attributes }} class="accordion">
                <div class="accordion__group">
                  <button 
                    class="accordion__label type-heading-3" 
                    aria-expanded="
                      {%- if block.settings.style == 'open' -%}
                        true
                      {%- else -%}
                        false
                      {%- endif -%}
                    "
                    aria-controls="accordion--{{ block.settings.heading | handle }}{{ block.id }}"
                  >
                    {{ block.settings.heading }}
                  </button>
                  <div
                    id="accordion--{{ block.settings.heading | handle }}{{ block.id }}"
                    class="accordion__text"
                    {% if block.settings.style == 'open' %}
                      style="display: block;"
                    {% endif %}
                  >
                    {{ block.settings.content }}
                  </div>
                </div>
              </div>

            {%- when 'text' -%}
              <div {{ block.shopify_attributes }} class="product__description">
                <div class="rte">{{ block.settings.text }}</div>
              </div>

          {%- endcase -%}

        {%- endfor -%}
        
        {%- if product != blank -%}
          <a {{ block.shopify_attributes }} href="{{ product.url }}" class="product__link">{{ 'sections.featured_product.view_product' | t }}</a>
        {%- endif -%}
        
        {% render 'product_payment_methods' %}

        {% comment %}
          The quantity input needs to be on the page for the product form to submit.
          If the user chooses to not include this block we need to add with a hidden class.
        {% endcomment %}
        {%- if product != blank -%}
          {%- if has_quantity_selector == false -%}
            {% render 'product-quantity' with
              product: product, 
              show_quantity_input: false 
            %}
          {%- endif -%}
        {%- endif -%}

        {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>

        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>

      </div>
    {% endform %}
  {%- else -%}
    <div class="{{ form_classes }}">
      <div class="product-form__inner">
      {%- for block in section.blocks -%}

          {%- case block.type -%}
            {%- when 'vendor' -%}
              <p {{ block.shopify_attributes }} class="product__vendor overline">{{ 'homepage.onboarding.product_vendor' | t }}</p>

            {%- when 'sku' -%}
              <p {{ block.shopify_attributes }} class="product__sku" data-product-sku>
                {{ 'homepage.onboarding.product_sku' | t }}
              </p>

            {%- when 'title' -%}
              <h1
                {{ block.shopify_attributes }}
                class="product__title type-heading-dynamic"
                style="--title-font-size: {{ block.settings.title_text_size }}px;"
              >
                  {{ 'homepage.onboarding.product_title' | t }}
              </h1>

            {%- when 'border' -%}
              <hr {{ block.shopify_attributes }} class="product__border">

            {%- when 'quantity_selector' -%}
              {%- if product != blank -%}
                {%- assign has_quantity_selector = true -%}
                {% render 'product-quantity' with
                  product: product,
                  show_quantity_input: true
                %}
              {%- endif -%}

            {%- when 'inventory_counter' -%}
              {%- if product != blank -%}
                {%- render 'inventory-counter' with
                  product: product,
                  show_label: block.settings.show_label,
                  inventory_max: block.settings.inventory_max,
                  low_inventory_threshold: block.settings.low_inventory_threshold,
                  current_variant: current_variant
                -%}
              {%- endif -%}

            {%- when 'description' -%}
              {%- case block.settings.style -%}
                {%- when 'paragraph' -%}
                  <div {{ block.shopify_attributes }} class="product__description mt5 rte">
                    {{ 'homepage.onboarding.product_description' | t }}
                  </div>
                {%- when 'open' -%}
                  <div {{ block.shopify_attributes }} class="accordion">
                    <div class="accordion__group">
                      <button
                        class="accordion__label type-heading-3"
                        aria-expanded="true"
                        aria-controls="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}"
                      >
                        {{ 'products.product.description' | t }}
                      </button>
                      <div id="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}" class="accordion__text" style="display: block;">
                        {{ 'homepage.onboarding.product_description' | t }}
                      </div>
                    </div>
                  </div>
                {%- when 'closed' -%}
                  <div {{ block.shopify_attributes }} class="accordion">
                    <div class="accordion__group">
                      <button
                        class="accordion__label type-heading-3"
                        aria-expanded="false"
                        aria-controls="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}"
                      >
                        {{ 'products.product.description' | t }}
                      </button>
                      <div id="product-description--{{ 'products.product.description' | t | handle }}--{{ section.id }}" class="accordion__text">
                        {{ 'homepage.onboarding.product_description' | t }}
                      </div>
                    </div>
                  </div>
              {%- endcase -%}

            {%- when 'share' -%}
              {%- if product != blank -%}
                <div {{ block.shopify_attributes }} class="product__share-container">
                  <button
                    type="button"
                    class="product__share"
                    data-social-share
                    aria-haspopup="true"
                  >
                    <span class="product__share-text">
                      {%- render 'icon-share' with non_focusable: true -%}
                      {{ 'general.social.share' | t }}
                    </span>

                    <div class="product__share-icons" aria-hidden="true" aria-label="{{ 'general.social.alt_text.share_menu' | t }}">
                      {% render 'share-icons' with
                        url: product.url,
                        title: product.title,
                        image: product.featured_image
                      %}
                    </div>
                  </button>
                </div>
              {%- endif -%}

            {%- when 'accordion' -%}
              <div {{ block.shopify_attributes }} class="accordion">
                <div class="accordion__group">
                  <button 
                    class="accordion__label type-heading-3" 
                    aria-expanded="false" 
                    aria-controls="accordion--{{ block.settings.heading | handle }}{{ block.id }}"
                  >
                    {{ block.settings.heading }}
                  </button>
                  <div id="accordion--{{ block.settings.heading | handle }}{{ block.id }}" class="accordion__text">
                    {{ block.settings.content }}
                  </div>
                </div>
              </div>

            {%- when 'text' -%}
              <div {{ block.shopify_attributes }} class="product__description">
                <div class="rte">{{ block.settings.text }}</div>
              </div>

          {%- endcase -%}

        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}



<div class="section product-page-wrapper {{ modifiers }}">
  <div class="product-page-wrapper__inner">
    <section
      class="
        product
        product--full-width
        product--loaded
        product--featured
      "
      data-section-id="{{ section.id }}"
      data-section-type="featured-product"
      style="--product-image-container-width: {{ section.settings.image_size }}%;"
    >

      <div class="product__media-container">

        <div class="product__media">
          {% if product.media.size > 0 %}
            {%- for media in product.media -%}
              <div class="media-wrapper{% if media.id != featured_media.id %} hidden{% endif %}" data-media-id="{{ media.id }}" data-product-media-wrapper>
                {% render 'media', media: media, featured_media: featured_media, link: product.url, loop_video: enable_video_looping %}
              </div>
            {%- endfor -%}
          {% else %}
            <div class="product__image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="product__meta">
        <div class="product__meta-inner">
          {{ product_blocks }}
        </div>
      </div>

      {%- assign images = product.media | where: 'media_type', 'image' -%}
      {% comment %} {% render 'reviews-drawer' with product: product %} {% endcomment %}
    </section>

    {% unless product == empty %}
      <script type="application/json" id="ProductJson-{{ section.id }}">
        {{ product | json }}
      </script>
      <script type="application/json" id="ModelJson-{{ section.id }}">
        {{ product.media | where: 'media_type', 'model' | json }}
      </script>
    {% endunless %}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.featured_product.name",
    "class": "section-dynamic section-borderable",
    "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "customers/account", "customers/activate_account", "customers/addresses", "customers/login", "customers/order", "customers/register", "customers/reset_password", "gift_card", "index", "page", "product", "search"],
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.featured_product.settings.product.label"
      },
      {
        "type": "header",
        "content": "t:sections.featured_product.settings.style_header.content"
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "t:sections.featured_product.settings.section_style.label",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "t:sections.featured_product.settings.section_style.option_1"
          },
          {
            "value": "contrast",
            "label": "t:sections.featured_product.settings.section_style.option_2"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.featured_product.settings.media_header.content"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "t:sections.featured_product.settings.image_size.label",
        "default": "65",
        "options": [
          {
            "value": "40",
            "label": "t:sections.featured_product.settings.image_size.option_1"
          },
          {
            "value": "50",
            "label": "t:sections.featured_product.settings.image_size.option_2"
          },
          {
            "value": "65",
            "label": "t:sections.featured_product.settings.image_size.option_3"
          }
        ]
      },
      {
        "type": "paragraph",
        "content": "t:sections.featured_product.settings.media_paragraph.content"
      },
      {
        "id": "enable_video_looping",
        "type": "checkbox",
        "label": "t:sections.featured_product.settings.enable_video_looping.label",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "t:sections.featured_product.blocks.vendor.name",
        "type": "vendor",
        "limit": 1
      },
      {
        "name": "t:sections.featured_product.blocks.sku.name",
        "type": "sku",
        "limit": 1
      },
      {
        "name": "t:sections.featured_product.blocks.title.name",
        "type": "title",
        "limit": 1,
        "settings": [
          {
            "id": "title_text_size",
            "type": "range",
            "label": "t:sections.main_product_overview.blocks.title.settings.title_text_size.label",
            "unit": "px",
            "min": 26,
            "max": 48,
            "step": 1,
            "default": 32
          }
        ]
      },
      {
        "name": "t:sections.featured_product.blocks.price.name",
        "type": "price",
        "limit": 1,
        "settings": [
          {
            "id": "price_text_size",
            "type": "range",
            "label": "t:sections.main_product_overview.blocks.price.settings.price_text_size.label",
            "unit": "px",
            "min": 14,
            "max": 26,
            "step": 1,
            "default": 14
          }
        ]
      },
      {
        "name": "t:sections.featured_product.blocks.border.name",
        "type": "border"
      },
      {
        "name": "t:sections.featured_product.blocks.variant_picker.name",
        "type": "variant_picker",
        "settings": [
          {
            "type": "header",
            "content": "t:sections.featured_product.blocks.variant_picker.settings.popup__header.content",
            "info": "t:sections.featured_product.blocks.variant_picker.settings.popup__header.info"
          },
          {
            "type": "text",
            "id": "variant_popup_option",
            "label": "t:sections.featured_product.blocks.variant_picker.settings.variant_popup_option.label",
            "info": "t:sections.featured_product.blocks.variant_picker.settings.variant_popup_option.info",
            "default": "Size"
          },
          {
            "type": "text",
            "id": "variant_popup_text",
            "label": "t:sections.featured_product.blocks.variant_picker.settings.variant_popup_text.label",
            "default": "Size guide"
          },
          {
            "type": "page",
            "id": "variant_popup_page",
            "label": "t:sections.featured_product.blocks.variant_picker.settings.variant_popup_page.label",
            "info": "t:sections.featured_product.blocks.variant_picker.settings.variant_popup_page.info"
          }
        ],
        "limit": 1
      },
      {
        "name": "t:sections.featured_product.blocks.quantity_selector.name",
        "type": "quantity_selector",
        "limit": 1
      },
      {
        "type": "buy_buttons",
        "name": "t:sections.featured_product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "t:sections.featured_product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.featured_product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          }
        ]
      },
      {
        "type": "inventory_counter",
        "name": "t:sections.featured_product.blocks.inventory_counter.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_label",
            "label": "t:sections.featured_product.blocks.inventory_counter.settings.show_labels.label",
            "default": true
          },
          {
            "type": "text",
            "id": "inventory_max",
            "label": "t:sections.featured_product.blocks.inventory_counter.settings.inventory_max.label",
            "info": "t:sections.featured_product.blocks.inventory_counter.settings.inventory_max.info",
            "default": "100"
          },
          {
            "type": "text",
            "id": "low_inventory_threshold",
            "label": "t:sections.featured_product.blocks.inventory_counter.settings.low_inventory_threshold.label",
            "info": "t:sections.featured_product.blocks.inventory_counter.settings.low_inventory_threshold.info",
            "default": "40"
          }
        ]
      },
      {
        "type": "description",
        "name": "t:sections.featured_product.blocks.description.name",
        "limit": 1,
        "settings": [
          {
            "id": "style",
            "label": "t:sections.featured_product.blocks.description.settings.style.label",
            "type": "select",
            "default": "paragraph",
            "options": [
              {
                "value": "paragraph",
                "label": "t:sections.featured_product.blocks.description.settings.style.options__1"
              },
              {
                "value": "open",
                "label": "t:sections.featured_product.blocks.description.settings.style.options__2"
              },
              {
                "value": "closed",
                "label": "t:sections.featured_product.blocks.description.settings.style.options__3"
              }
            ]
          }
        ]
      },
      {
        "type": "share",
        "name": "t:sections.featured_product.blocks.share.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.featured_product.blocks.share.settings.paragraph__1.content"
          },
          {
            "type": "paragraph",
            "content": "t:sections.featured_product.blocks.share.settings.paragraph__2.content"
          }
        ]
      },
      {
        "type": "accordion",
        "name": "t:sections.featured_product.blocks.accordion.settings.heading.label",
        "settings": [
          {
            "id": "style",
            "label": "t:sections.featured_product.blocks.accordion.settings.style.label",
            "type": "select",
            "default": "closed",
            "options": [
              {
                "value": "open",
                "label": "t:sections.featured_product.blocks.accordion.settings.style.options__1"
              },
              {
                "value": "closed",
                "label": "t:sections.featured_product.blocks.accordion.settings.style.options__2"
              }
            ]
          },
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.featured_product.blocks.accordion.settings.heading.label",
            "info": "t:sections.featured_product.blocks.accordion.settings.heading.info",
            "default": "Accordion heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.featured_product.blocks.accordion.settings.content.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.featured_product.blocks.text.name",
        "settings" : [
          {
            "type": "liquid",
            "id": "text",
            "label": "t:sections.featured_product.blocks.text.settings.text.label",
            "default": "<p>Add some text to tell customers more about your product.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured_product.presets.name",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "border"
          },
          {
            "type": "variant_picker"
          },
          {
            "type": "buy_buttons"
          }
        ]
      }
    ]
  }
{% endschema %}