{% liquid
  assign id = section.id
  assign show_headings = section.settings.show_headings
  assign show_payment_icons = section.settings.show_payment_icons
  assign show_locale_selector = section.settings.show_locale_selector
  assign show_currency_selector = section.settings.show_currency_selector
  assign blocks = section.blocks
%}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{%- if show_currency_selector and localization.available_countries.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{% assign modifiers = '' %}

{% unless show_headings %}
  {% assign modifiers = modifiers | append: ' footer--hide-titles' %}
{% endunless %}

<footer
  data-section-id="{{ id }}"
  data-section-type="footer"
  class="footer{{ modifiers }}"
>
  <div class="footer__container">

    {% if blocks.size > 0 or show_newsletter_signup %}
      <section class="footer__cols">
        {% for block in blocks %}

          {% if block.type == 'text' and block.settings.text != blank %}
            <div class="footer__col-text">
              <h3 class="footer__col-title overline mt0 mb3">{{ block.settings.heading }}</h3>
              {% if block.settings.text %}
                <div class="rte">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if block.type == 'link_list' and linklists[block.settings.menu].links.size > 0 %}
            <div class="footer__col-list">
              <h3 class="footer__col-title overline mt0 mb3">{{ linklists[block.settings.menu].title }}</h3>
              {% if linklists[block.settings.menu].links.size > 0 %}
                <ul class="list ma0 pa0">
                  {% for link in linklists[block.settings.menu].links %}
                    <li class="list-item ma0"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}

          {% if block.type == 'newsletter' %}
            <div class="footer__newsletter">
              <h3 class="footer__col-title overline mt0 mb3">{{ 'general.newsletter_form.title' | t }}</h3>

              {% unless block.settings.subheading == blank %}
                <div class="footer__signup-text mb3">
                  {{ block.settings.subheading }}
                </div>
              {% endunless %}

              <div class="footer__input-wrap">

                {% form 'customer' %}
                  {% assign form_id = "FooterCustomerForm" %}
                  {% render 'form-status', form: form, form_id: form_id %}

                  {% if form.posted_successfully? %}
                    <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter__input-container">
                      <input type="email"
                        class="input-reset input"
                        name="contact[email]"
                        id="{{ form_id }}-email"
                        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        autocomplete="email"
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors contains 'email' %}aria-describedby="{{ form_id }}-email-error"{% endif %}
                        autocapitalize="off"
                        requiredd
                      >
                      <label class="label--above" for="{{ form_id }}-email">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
                      <button class="footer__newsletter-button" aria-label="{{ 'general.newsletter_form.submit' | t }}">
                        <span class="visually-hidden">{{ 'general.newsletter_form.submit' | t }}</span>
                        {% render 'icon-arrow-forward' %}
                      </button>
                    </div>
                  {% endif %}
                {% endform %}

              </div>
            </div>
          {% endif %}

        {% endfor %}
      </section>

      <hr class="footer__divider mt6-l mt3 mb3 b--solid b--default bb" style="border-top: 0; border-right: 0; border-left: 0;" />
    {% endif %}


    <div class="footer__bottom mb5">
      {%- render 'cross-border' with
        show_locale: locale_selector,
        show_currency: currency_selector,
        id: 'footer'
      -%}

      {%- assign social_icons_in_use = false -%}

      {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, TikTok, Tumblr, YouTube, Vimeo, LinkedIn,' | split: ', ' -%}
      {%- for social in social_accounts -%}
        {%- assign social_handle = social | handleize -%}
        {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
        {%- if settings[social_link] != blank -%}
          {%- assign social_icons_in_use = true -%}
        {%- endif -%}
      {%- endfor -%}


      {%- if social_icons_in_use -%}
        <div class="footer__social-icons">
          {%- render 'social-icons' -%}
        </div>
      {%- endif -%}
    </div>

    {% if show_payment_icons %}
      <div class="footer__payment-icons mb2">
        {% unless shop.enabled_payment_types == empty %}
          <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
          <ul class="payment-icons list flex ma0 pa0">
            {% for type in shop.enabled_payment_types %}
              <li class="footer__payment-icon">
                {{ type | payment_type_svg_tag: class: 'icon' }}
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      </div>
    {% endif %}

    <div class="footer__copyright">
      <p>&copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }}</p>
      <a href="/pages/impressum">Impressum</a> | <a href="/pages/agb">AGB</a> | <a href="/pages/datenschutz">Datenschutz</a>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_headings",
        "label": "t:sections.footer.settings.show_headings.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:sections.footer.settings.show_payment_icons.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.language_header.content",
        "info": "t:sections.footer.settings.language_header.info"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "t:sections.footer.settings.show_locale_selector.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.currency_header.content",
        "info": "t:sections.footer.settings.currency_header.info"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "t:sections.footer.settings.show_currency_selector.label",
        "default": true
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.footer.blocks.text.settings.heading.label",
            "default": "About the shop"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.footer.blocks.text.settings.text.label",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
          }
        ]
      },
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.links.name",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "t:sections.footer.blocks.links.settings.menu.label",
            "info": "t:sections.footer.blocks.links.settings.menu.info",
            "default": "footer"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "t:sections.footer.blocks.newsletter.name",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "subheading",
            "label": "t:sections.footer.blocks.newsletter.settings.subheading.label",
            "default": "<p>Subscribe to our mailing list</p>"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_list"
        },
        {
          "type": "newsletter"
        }
      ]
    }
  }
{% endschema %}
