{% liquid
  assign id = section.id

  assign section_style = section.settings.section_style
  assign text_position = section.settings.text_position

  assign columns = section.settings.columns
  assign aspect_ratio = section.settings.aspect_ratio
  assign overline = section.settings.overline
  assign heading = section.settings.title
  assign subheading = section.settings.subheading
  assign text_max_width = section.settings.text_max_width
  assign link = section.settings.link
  assign link_text = section.settings.link_text

  assign blocks = section.blocks
%}

{% assign modifiers = '' %}

{% assign modifiers = modifiers | append: ' section--' | append: section_style %}

{% unless section_style == 'contrast' %}
  {% assign modifiers = modifiers | append: ' section--bordered' %}
{% endunless %}

{% assign modifiers = modifiers | append: ' carousel--columns-' | append: columns %}

{% assign carousel_text_position = text_position | split: '_' | first %}
{% assign carousel_text_alignment = text_position | split: '_' | last %}

{% assign modifiers = modifiers | append: ' carousel--text-position-' | append: carousel_text_position %}
{% assign modifiers = modifiers | append: ' carousel--text-alignment-' | append: carousel_text_alignment %}
{% assign modifiers = modifiers | append: ' carousel--items-' | append: blocks.size %}
{% assign modifiers = modifiers | append: ' gallery--' | append: aspect_ratio %}

{% assign minimum_items_for_wrap_around = columns | plus: 2 %}
{% assign items_needed = minimum_items_for_wrap_around | minus: blocks.size %}

{% if carousel_text_position == 'top' and items_needed <= 0 or blocks.size == 0 %}
  {% assign modifiers = modifiers | append: ' carousel--columns-wrap-around' %}
{% endif %}


<section
  data-section-id="{{ id }}"
  data-section-type="gallery"
  class="section gallery carousel{{ modifiers }}"
  data-text-position={{ carousel_text_position }}
  data-text-alignment={{ carousel_text_alignment }}
>
  {% render 'text-block' with
    id: id,
    modifiers: 'mb5 animation__staggered-children-fade-in',
    heading_alignment: carousel_text_alignment,
    text_max_width: text_max_width,
    overline: overline,
    heading: heading,
    subheading: subheading,
    link: link,
    link_text: link_text
  %}

  {% render 'carousel-navigation' %}

  <div class="general-container-width gallery__slides carousel__slides" data-carousel>
    {% if blocks.size > 0 %}
      {%- for block in blocks -%}
        <div class="gallery__slide carousel__slide animates" {{ block.shopify_attributes }} data-index="{{ forloop.index0 }}">

          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="gallery__image">
          {% else %}
            <div class="gallery__image">
          {% endif %}

            {% if block.settings.image != blank %}
              {% render 'image' with
                image: block.settings.image
              %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}

          {% if block.settings.link != blank %}
            </a>
          {% else %}
            </div>
          {% endif %}

          {% unless block.settings.description == blank %}
            <div
              class="gallery__description type-body-regular mt3 mb0"
              data-theme-editor-setting="section.{{ id }}.block.{{ block.id }}.description"
            >
              {{ block.settings.description }}
            </div>
          {% endunless %}
        </div>
      {%- endfor -%}
    {% else %}
      {% for i in (1..minimum_items_for_wrap_around) %}
        <div class="gallery__slide carousel__slide animates">
          <div class="gallery__image">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>


{% schema %}
  {
    "name": "t:sections.gallery.name",
    "class": "section-dynamic section-borderable",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.gallery.settings.style_header.content"
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "t:sections.gallery.settings.section_style.label",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "t:sections.gallery.settings.section_style.option_1"
          },
          {
            "value": "contrast",
            "label": "t:sections.gallery.settings.section_style.option_2"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "t:sections.gallery.settings.text_position.label",
        "options": [
          { "value": "top_left", "label": "t:sections.gallery.settings.text_position.option_1" },
          { "value": "top_center", "label": "t:sections.gallery.settings.text_position.option_2" },
          { "value": "top_right", "label": "t:sections.gallery.settings.text_position.option_3" },
          { "value": "middle_left", "label": "t:sections.gallery.settings.text_position.option_4" },
          { "value": "middle_right", "label": "t:sections.gallery.settings.text_position.option_5" }
        ],
        "default": "top_center"
      },
      {
        "type": "header",
        "content": "t:sections.gallery.settings.content_header.content"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "t:sections.gallery.settings.columns.label",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "t:sections.gallery.settings.aspect_ratio.label",
        "options": [
          { "label": "t:sections.gallery.settings.aspect_ratio.option_1", "value": "natural" },
          { "label": "t:sections.gallery.settings.aspect_ratio.option_2", "value": "square" },
          { "label": "t:sections.gallery.settings.aspect_ratio.option_3", "value": "landscape" },
          { "label": "t:sections.gallery.settings.aspect_ratio.option_4", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "type": "text",
        "id": "overline",
        "label": "t:sections.gallery.settings.overline.label",
        "default": "Gallery"
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.gallery.settings.title.label",
        "default": "Gallery section"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "t:sections.gallery.settings.subheading.label",
        "default": "<p>Use this Section to display your favourite images. Automatically crop them to be uniform using the dropdown setting.</p>"
      },
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.gallery.settings.link.label"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "t:sections.gallery.settings.link_text.label"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "t:sections.gallery.settings.text_max_width.label",
        "min": 16,
        "max": 50,
        "step": 1,
        "default": 36
      }
    ],
    "max_blocks": 15,
    "blocks": [
      {
        "type": "image",
        "name": "t:sections.gallery.blocks.image.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.gallery.blocks.image.settings.image.label"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "t:sections.gallery.blocks.image.settings.description.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.gallery.blocks.image.settings.link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.gallery.presets.gallery.name"
      }
    ]
  }
{% endschema %}
