{%- assign modifiers = '' -%}
{%- assign has_image = false -%}

{%- if section.blocks.size > 0 -%}
  {%- assign has_image = true -%}
  {%- assign modifiers = modifiers | append: ' contact--has-image' -%}
{%- endif -%}

{% capture content %}
  {%- if page.content != blank -%}
    <div class="contact__text rte">{{ page.content }}</div>
  {%- endif -%}

  {% render 'contact-form' %}
{% endcapture %}

<section class="contact section{{ modifiers }}">
  <div class="contact__inner" style="--content-max-width: {{ section.settings.content_max_width }}px;">
    {% if has_image %}
      <div class="contact__container">
        <div class="contact__image">
          {%- for block in section.blocks -%}
            {% render 'image' with image: block.settings.image, wrapper_class: 'borders' %}
            {% break %}
          {%- endfor -%}
        </div>
        <div class="contact__content">
          <div class="contact__content-inner">
            <h1 class="contact__heading type-heading-1 mt0 mb3">{{ page.title }}</h1>

            {{ content }}
          </div>
        </div>
      </div>
    {% else %}
      <header class="page__header">
        <h1 class="contact__heading type-heading-1 mt0 mb3">{{ page.title }}</h1>
      </header>

      {{ content }}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_page_contact.name",
  "tag": "section",
  "class": "page-section section-borderable",
  "max_blocks": 1,
  "settings": [
    {
      "id": "content_max_width",
      "type": "range",
      "min": 400,
      "max": 1300,
      "step": 100,
      "default": 500,
      "label": "t:sections.main_page_contact.settings.content_max_width.label",
      "info": "t:sections.main_page_contact.settings.content_max_width.info"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.main_page_contact.blocks.image.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.main_page_contact.blocks.image.settings.label",
          "info": "t:sections.main_page_contact.blocks.image.settings.info"
        }
      ]
    }
  ]
}
{% endschema %}
