{% liquid
  assign id = section.id

  assign background_image = section.settings.background_image
  assign background_overlay_opacity = section.settings.background_overlay_opacity
  assign background_overlay_color = section.settings.background_overlay_color

%}

<section
  class="password welcome"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>
  {% if background_image != blank %}
    {% render 'image' with
      image: background_image,
      wrapper_class: "password__background-image",
      disable_style: true
    %}

    <div
      class="password__background-image-overlay o-{{ background_overlay_opacity }}"
      style="background-color: {{ background_overlay_color }};">
    </div>
  {% endif %}

  <div class="password__login-button slider-button" data-js-toggle>
    <a href="#" class="lock" aria-label="{{ 'general.password_page.password_link' | t }}">
      {% render 'icon-chevron-right' %}
    </a>
    <a href="#" class="close" aria-label="{{ 'general.password_page.signup_title' | t }}">
      {% render 'icon-chevron-left' %}
    </a>
  </div>

  <div class="password__content" data-content="default">

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when "heading" -%}
          <header class="password__header" role="banner">
            {%- if block.settings.show_shop_button == true -%}
              <p class="overline">{{ shop.name }}</p>
            {%- endif -%}

            {% unless block.settings.heading == blank %}
              <h1 class="password__heading type-heading-1">{{ block.settings.heading }}</h1>
            {% endunless %}
          </header>

          {% if shop.password_message != blank %}
            <p class="password__subheading type-body-regular">{{ shop.password_message }}</p>
          {% endif %}

          <style>
            {% if block.settings.text_color != blank %}
              .password__header,
              .password__subheading,
              .password__login-heading {
                color: {{ block.settings.text_color }};
              }
            {% endif %}
          </style>
        {%- when "text" -%}
          {%- if block.settings.text != blank -%}
            <div class="password__text type-body-regular rte">{{ block.settings.text }}</div>

            <style>
              {% if block.settings.text_color != blank %}
                .password__text {
                  color: {{ block.settings.text_color }};
                }
              {% endif %}
            </style>
          {%- endif -%}
        {%- when "newsletter" -%}
          {% form 'customer' %}
            {% assign form_id = "PasswordSubscribeForm" %}
            {% assign success_message = 'general.password_page.signup_form_success' | t  %}
            {% render 'form-status', form: form, form_id: form_id, success_message: success_message %}
            {% if form.posted_successfully? %}
            {% else %}

              <div class="password__notify-form">
                <div class="input relative w-100">
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <input type="email"
                    name="contact[email]"
                    id="{{ form_id }}-email"
                    spellcheck="false"
                    autocomplete="email"
                    autocorrect="off"
                    autocapitalize="off"
                    {% if form.errors contains 'email' %}aria-describedby="{{ form_id }}-email-error"{% endif %}
                    placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                    required
                  >
                  <label for="{{ form_id }}-email" class="label--above">
                    {{ 'general.password_page.signup_form_email_placeholder' | t }}
                  </label>
                </div>
                <button class="bttn bttn--primary" type="submit">{{ 'general.password_page.signup_form_button_label' | t }}</button>
              </div>
            {% endif %}
          {% endform %}
        {%- when "share_buttons" -%}
          <div 
            class="password__share" 
            {% if block.settings.icon_color != blank %}style="--color-icon: {{ block.settings.icon_color }};"{% endif %}
          >
            {% render 'social-sharing' %}
          </div>
          </style>
      {%- endcase -%}
    {%- endfor -%}


  </div>

  <div class="password__content" data-content="login">
    <h3 class="password__login-heading type-heading-1">{{ 'general.password_page.login_form_heading' | t }}</h3>
    {% form 'storefront_password' %}

      {% assign form_id = "StorefrontPasswordForm" %}
      {% render 'form-status', form: form, form_id: form_id %}

      <div class="password__login-form">
        <div class="input relative w-100">
          <input type="password"
            name="password"
            id="{{ form_id }}-password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            class="input {% if form.errors contains 'password' %}storefront-password-error{% endif %}"
            data-storefront-password-input
            {% if form.errors contains 'password' %}aria-describedby="{{ form_id }}-password-error"{% endif %}
            required
          >
          <label for="{{ form_id }}-password" class="label--above">
            {{ 'general.password_page.login_form_password_placeholder' | t }}
          </label>
        </div>
        <button class="bttn bttn--primary" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
      </div>
    {% endform %}
    <p class="type-body-regular rte">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</section>

<style>
  {% if text_color != blank %}
    .password__header,
    .password__text {
      color: {{ text_color }};
    }
  {% endif %}
</style>

{% schema %}
  {
    "name": "t:sections.password_page.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.password_page.settings.background_image.label"
      },
      {
        "type": "range",
        "id": "background_overlay_opacity",
        "label": "t:sections.password_page.settings.background_overlay_opacity.label",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 20
      },
      {
        "type": "color",
        "id": "background_overlay_color",
        "label": "t:sections.password_page.settings.background_overlay_color.label",
        "default": "#000000"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.password_page.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "t:sections.password_page.blocks.heading.settings.heading.label",
            "default": "Opening Soon"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.password_page.blocks.heading.settings.text_color.label"
          },
          {
            "type": "checkbox",
            "id": "show_shop_button",
            "label": "t:sections.password_page.blocks.heading.settings.show_shop_button.label",
            "default": true
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.password_page.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "label": "t:sections.password_page.blocks.text.settings.text.label",
            "default": "<p>Find out when we open</p>"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.password_page.blocks.text.settings.text_color.label"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "t:sections.password_page.blocks.newsletter.name",
        "limit": 1
      },
      {
        "type": "share_buttons",
        "name": "t:sections.password_page.blocks.share_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "icon_color",
            "label": "t:sections.password_page.blocks.share_buttons.settings.icon_color.label"
          }
        ]
      }
    ]
  }
{% endschema %}
