{% if section.settings.enable_exit_intent %}
  {% liquid
    assign id = section.id
    assign exit_intent_position = section.settings.exit_intent_position
    assign exit_intent_image = section.settings.exit_intent_image
    assign text_color = section.settings.text_color
    assign bg_color = section.settings.bg_color
    assign border_color = section.settings.border_color
    assign input_text_color = section.settings.text_color
  %}

  {% assign mobile_timeout_in_ms = 10000 %}

  <div
    class="exit-intent exit-intent--{{ exit_intent_position }}"
    id="popup--{{ id }}"
    data-section-id="{{ id }}"
    data-section-type="exit-intent"
    data-mobile-landing-timeout="{{ mobile_timeout_in_ms }}"
    role="dialog"
  >
    <div class="exit-intent__content">

      {% if exit_intent_image != blank %}
        <div
          class="exit-intent__image responsive__img lazyload"
          data-bgset="{% render 'responsive-bg-image', image: exit_intent_image %}"
          style="background-image: url({{ exit_intent_image | img_url }});"
          role="img"
          aria-label="{{ exit_intent_image.alt }}"
        ></div>
      {% endif %}
      <div class="exit-intent__inner">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {% unless block.settings.exit_intent_heading == blank %}
                <div class="exit-intent__heading">
                  {{ block.settings.exit_intent_heading }}
                </div>
              {% endunless %}

              {% unless block.settings.exit_intent_subheading == blank %}
                <div class="exit-intent__message">
                  {{ block.settings.exit_intent_subheading }}
                </div>
              {% endunless %}
            {%- when 'newsletter_signup' -%}
              <div class="exit-intent__form">
                {% form 'customer' %}
                  {% assign form_id = "PopupForm" %}
                  {% render 'form-status', form: form, form_id: form_id %}

                  {% if form.posted_successfully? %}
                    <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="exit-intent__form">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="email"
                        class="exit-intent__input input-reset input w-100"
                        name="contact[email]"
                        id="{{ form_id }}-email"
                        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        autocorrect="off"
                        autocomplete="email"
                        autocapitalize="off"
                        {% if form.errors contains 'email' %}aria-describedby="{{ form_id }}-email-error"{% endif %}
                        required
                      >
                      <label class="label--above" for="{{ form_id }}-email">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
                      <button type="submit" name="commit" id="Subscribe" class="exit-intent__button" aria-label="{{ 'general.newsletter_form.submit' | t }}">
                        <span class="visually-hidden">{{ 'general.newsletter_form.submit' | t }}</span>
                        {% render 'icon-arrow-forward' %}
                      </button>
                    </div>
                  {% endif %}
                {% endform %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
        <a 
          href="#" 
          class="exit-intent__close" 
          data-close-icon 
          aria-label="{{ 'general.accessibility.close_modal' | t }}"
          aria-controls="popup--{{ id }}"
        >
          {% render 'icon-close' %}
        </a>
      </div>
    </div>
  </div>

  {% assign input_text_lightened = input_text_color | color_modify: 'alpha', 0.7 %}

  <style>
    .exit-intent__content {
      background-color: {{ bg_color }};
      color: {{ text_color }};
    }

    .exit-intent__content input {
      border-color: {{ border_color }};
      background-color: {{ bg_color }};
      color: {{ input_text_color }};
    }

    .exit-intent__content input::placeholder {
      color: {{ input_text_lightened }} !important;
    }

    .exit-intent__content label {
      background-color: {{ bg_color }} !important;
      color: {{ input_text_lightened }} !important;
    }

    .exit-intent__button {
      color: {{ text_color }};
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "t:sections.popup.name",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_exit_intent",
        "label": "t:sections.popup.settings.enable_popup.label",
        "info": "t:sections.popup.settings.enable_popup.info",
        "default": false
      },
      {
        "type": "select",
        "id": "exit_intent_position",
        "options": [
          { "value": "top-left", "label": "t:sections.popup.settings.popup_position.options__1"},
          { "value": "top-right", "label": "t:sections.popup.settings.popup_position.options__2"},
          { "value": "bottom-left", "label": "t:sections.popup.settings.popup_position.options__3"},
          { "value": "bottom-right", "label": "t:sections.popup.settings.popup_position.options__4"}
        ],
        "default": "bottom-right",
        "label": "t:sections.popup.settings.popup_position.label"
      },
      {
        "type": "image_picker",
        "id": "exit_intent_image",
        "label": "t:sections.popup.settings.image.label"
      },
      {
        "type": "header",
        "content": "t:sections.popup.settings.color__header.content"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.popup.settings.color_text.label",
        "default": "#1b1b1b"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "t:sections.popup.settings.color_background.label",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "t:sections.popup.settings.color_border.label",
        "default": "#dedede"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.popup.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "id": "exit_intent_heading",
            "type": "text",
            "label": "t:sections.popup.blocks.heading.settings.title.label",
            "default": "Subscribe"
          },
          {
            "id": "exit_intent_subheading",
            "type": "richtext",
            "label": "t:sections.popup.blocks.heading.settings.subheading.label",
            "default": "<p>We only send emails once or twice a month and only about good things.</p>"
          }
        ]
      },
      {
        "type": "newsletter_signup",
        "name": "t:sections.popup.blocks.newsletter_signup.name",
        "limit": 1
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "newsletter_signup"
        }
      ]
    }
  }
{% endschema %}
