{%- liquid
  assign section_style = section.settings.section_style
  assign has_text_content = false
  assign has_button_content = false
  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.00
  assign focal_alignment = section.settings.focal_point | replace: "_", " "
  assign text_color = section.settings.text_color
  assign text_container_color = section.settings.text_container_color
  assign button_background_color = section.settings.button_background_color
  assign text_container_has_background = true

  if section.settings.link != blank and section.settings.link_text != blank
    assign has_button_content = true
  endif

  if section.settings.heading != blank or section.settings.subheading != blank or section.settings.overline != blank or has_button_content
    assign has_text_content = true
  endif

  assign brightness_button_background = button_background_color | color_brightness
  if brightness_button_background > 127
    assign color_button_background_meta = button_background_color | color_darken: 20
  else
    assign color_button_background_meta = button_background_color | color_lighten: 20
  endif
-%}

<section
  data-section-id="{{ section.id }}"
  data-section-type="shoppable"
  class="
    shoppable-feature
    shoppable-feature--image-{{ section.settings.image_position }}
    shoppable-feature--{{ section.settings.aspect_ratio }}
    shoppable-feature--align-{{ section.settings.text_alignment }}
    shoppable-feature--image-{{ section.settings.image_width }}
    {% if has_text_content -%}
      shoppable-feature--has-text-content
    {%- endif %}
    {% if text_container_color == blank or text_container_color == 'rgba(0,0,0,0)' %}
      {% assign text_container_has_background = false %}
      shoppable-feature--background-transparent
    {% endif %}
    section
    section--{{ section_style }}
    {% if section_style == 'full-height' %}
      section--contrast
    {% endif %}
    {% if section_style != 'full-height' and section_style != 'contrast' %}
      section--bordered
    {% endif %}
  "
  style="
    --color-overlay: {{ section.settings.overlay_color }};
    --overlay-opacity: {{ overlay_opacity }};
    --transparent-hotspot-background: {{ settings.color_text | color_to_rgb | replace: 'rgb', 'rgba' | replace: ')', ', .6)' }};
    --transparent-hotspot-background-darker: {{ settings.color_text | color_to_rgb | replace: 'rgb', 'rgba' | replace: ')', ', .8)' }};
    --media-focal-alignment: {{ focal_alignment }};
    --s-text-color: {{ text_color }};
    --s-text-container-color: {{ text_container_color }};
  "
>
{{}}
  <div class="section__inner shoppable-feature__inner">
    <div class="shoppable-feature__image-container">
      <div class="shoppable-feature__image-container-inner">
        <div class="shoppable-feature__image-wrapper">
          {%- if section.settings.image -%}
            {% render 'image' with
              image: section.settings.image,
              wrapper_class: 'shoppable-feature__image',
              disable_style: true,
            %}
          {%- else -%}
            <div class="shoppable-feature__image placeholder-image">
              {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
        </div>
      </div>

      <div class="shoppable-feature__overlay"></div>

      {%- for block in section.blocks -%}
        {% render 'shoppable-item' with
          block: block,
          index: forloop.index,
          product_item: block.settings.product_item,
          horizontal_position: block.settings.horizontal_position,
          vertical_position: block.settings.vertical_position,
          aspect_ratio: section.settings.aspect_ratio,
        %}
      {%- else -%}
        {%- for i in (1..3) -%}
          {% render 'shoppable-item' with
            placeholder: true,
            index: forloop.index,
            aspect_ratio: section.settings.aspect_ratio,
          %}
        {%- endfor -%}
      {%- endfor -%}
    </div>

    {%- if has_text_content -%}
      <div class="shoppable-feature__text-container">
        <div class="shoppable-feature__text-container-inner animation__staggered-children-fade-in animation-disabled{% if text_container_has_background %} pa3{% endif %}">
          {%- unless section.settings.overline == blank -%}
            <h2
              class="shoppable-feature__overline overline ma0"
              style="--text-max-width: {{ section.settings.text_max_width }}rem;"
            >
              {{ section.settings.overline }}
            </h2>
          {%- endunless -%}

          {%- unless section.settings.heading == blank -%}
            <h2
              class="shoppable-feature__heading type-heading-1 ma0"
              style="--text-max-width: {{ section.settings.heading_max_width }}rem;"
            >
              {{ section.settings.heading }}
            </h2>
          {%- endunless -%}

          {%- unless section.settings.subheading == blank -%}
            <div
              class="shoppable-feature__subheading rte ma0"
              style="--text-max-width: {{ section.settings.text_max_width }}rem;"
            >
              {{ section.settings.subheading }}
            </div>
          {%- endunless -%}

          {%- if has_button_content -%}
            <a
              href="{{ section.settings.link }}"
              class="shoppable-feature__button bttn bttn--secondary bttn--inline"
              style="
                --color-secondary-button-bg: {{ button_background_color }};
                --color-secondary-button-text: {{ text_color }};
                --color-secondary-button-border: {{ button_background_color | color_modify: 'alpha', 0.2 }};
                --color-secondary-button-meta: {{ color_button_background_meta }};
                --color-contrast-secondary-button-bg: {{ button_background_color }};
                --color-contrast-secondary-button-text: {{ text_color }};
                --color-contrast-secondary-button-border: {{ button_background_color | color_modify: 'alpha', 0.2 }};
                --color-contrast-secondary-button-meta: {{ color_button_background_meta }};
              "
            >
              {{ section.settings.link_text }}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.shoppable_feature.name",
    "class": "section-dynamic section-borderable",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.shoppable_feature.settings.style__header.content"
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "t:sections.shoppable_feature.settings.section__style.label",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "t:sections.shoppable_feature.settings.section__style.options__1"
          },
          {
            "value": "contrast",
            "label": "t:sections.shoppable_feature.settings.section__style.options__2"
          },
          {
            "value": "full-height",
            "label": "t:sections.shoppable_feature.settings.section__style.options__3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.shoppable_feature.settings.content__header.content"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "t:sections.shoppable_feature.settings.image.label"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "t:sections.shoppable_feature.settings.image_position.label",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "t:sections.shoppable_feature.settings.image_position.options__1"
          },
          {
            "value": "right",
            "label": "t:sections.shoppable_feature.settings.image_position.options__2"
          }
        ]
      },
      {
        "id": "image_width",
        "type": "select",
        "label": "t:sections.shoppable_feature.settings.image_width.label",
        "options": [
          { "label": "t:sections.shoppable_feature.settings.image_width.options__1", "value": "half" },
          { "label": "t:sections.shoppable_feature.settings.image_width.options__2", "value": "two-thirds" }
        ],
        "default": "two-thirds"
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "t:sections.shoppable_feature.settings.aspect_ratio.label",
        "options": [
          { "label": "t:sections.shoppable_feature.settings.aspect_ratio.options__1", "value": "square" },
          { "label": "t:sections.shoppable_feature.settings.aspect_ratio.options__2", "value": "landscape" },
          { "label": "t:sections.shoppable_feature.settings.aspect_ratio.options__3", "value": "portrait" }
        ],
        "default": "square"
      },
      {
        "id": "focal_point",
        "type": "select",
        "label": "t:sections.shoppable_feature.settings.focal_point.label",
        "options": [
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__1.label", "value": "left_top" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__2.label", "value": "center_top" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__3.label", "value": "right_top" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__4.label", "value": "left_center" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__5.label", "value": "center_center" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__6.label", "value": "right_center" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__7.label", "value": "left_bottom" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__8.label", "value": "center_bottom" },
          { "label": "t:sections.shoppable_feature.settings.focal_point.options__9.label", "value": "right_bottom" }
        ],
        "default": "center_center"
      },
      {
        "id": "overlay_color",
        "type": "color",
        "label": "t:sections.shoppable_feature.settings.overlay_color.label",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "t:sections.shoppable_feature.settings.overlay_opacity.label",
        "unit": "%",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 30
      },
      {
        "type": "header",
        "content": "t:sections.shoppable_feature.settings.text__header.content"
      },
      {
        "type": "text",
        "id": "overline",
        "label": "t:sections.shoppable_feature.settings.overline.label",
        "default": "Shoppable image"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "t:sections.shoppable_feature.settings.heading.label",
        "default": "Shoppable image section"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "t:sections.shoppable_feature.settings.subheading.label",
        "default": "<p>Use this section to highlight different products within an image</p>"
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "t:sections.shoppable_feature.settings.link_text.label",
        "default": "Learn more"
      },
      {
        "id": "link",
        "type": "url",
        "label": "t:sections.shoppable_feature.settings.link.label"
      },
      {
        "type": "header",
        "content": "t:sections.shoppable_feature.settings.text__header.content"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.image_with_text.settings.text_alignment.label",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image_with_text.settings.text_alignment.option_1"
          },
          {
            "value": "center",
            "label": "t:sections.image_with_text.settings.text_alignment.option_2"
          },
          {
            "value": "right",
            "label": "t:sections.image_with_text.settings.text_alignment.option_3"
          }
        ]
      },
      {
        "id": "heading_max_width",
        "type": "range",
        "label": "t:sections.shoppable_feature.settings.heading_max_width.label",
        "min": 20,
        "max": 60,
        "step": 2,
        "default": 42
      },
      {
        "id": "text_max_width",
        "type": "range",
        "label": "t:sections.shoppable_feature.settings.text_max_width.label",
        "min": 20,
        "max": 40,
        "step": 2,
        "default": 36
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.shoppable_feature.settings.text_color.label",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_container_color",
        "label": "t:sections.shoppable_feature.settings.text_container_color.label",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "button_background_color",
        "label": "t:sections.shoppable_feature.settings.button_background_color.label",
        "default": "#000"
      }
    ],
    "blocks": [
      {
        "type": "hotspot",
        "name": "t:sections.shoppable_feature.blocks.hotspot.name",
        "limit": 6,
        "settings": [
          {
            "id": "product_item",
            "type": "product",
            "label": "t:sections.shoppable_feature.blocks.hotspot.settings.product_item.label"
          },
          {
            "id": "horizontal_position",
            "type": "range",
            "label": "t:sections.shoppable_feature.blocks.hotspot.settings.horizontal_position.label",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50
          },
          {
            "id": "vertical_position",
            "type": "range",
            "label": "t:sections.shoppable_feature.blocks.hotspot.settings.vertical_position.label",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 50
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.shoppable_feature.presets.name"
      }
    ]
  }
{% endschema %}
