<div class="store-availability-container"
  data-section-id="{{ section.id }}"
  data-section-type="store-availability"
>
  {%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
  {%- assign closest_location = pick_up_availabilities.first -%}

  {%- if pick_up_availabilities.size > 0 -%}
    <div class="store-availability{% if closest_location.available %} store-availability--available{% endif %}">
      <div class="store-availability__information type-body-small">
        {%- if closest_location.available -%}
          <p class="store-availability__information-title">
            {{ 'store_availability.general.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
          </p>
          <p class="store-availability__information-stock">
            <span class="flex items-center">{{ 'store_availability.general.pick_up_available_time_html' | t: pickup_time: closest_location.pick_up_time }}</span>
          </p>
          <p class="store-availability__information-stores">
            <a href="#" class="store-availability__information-link" data-store-availability-drawer-trigger aria-haspopup="dialog">
              {%- if pick_up_availabilities.size == 1 -%}
                {{ 'store_availability.general.view_store_info' | t }}
              {%- else -%}
                {{ 'store_availability.general.check_other_stores' | t }}
              {%- endif -%}
            </a>
          </p>
        {%- else -%}
          <p class="store-availability__information-title">
            {{ 'store_availability.general.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
          </p>
          {%- if pick_up_availabilities.size > 1 -%}
            <p class="store-availability__information-stock">
              <span class="flex items-center">{{ 'store_availability.general.not_in_stock' | t }}</span>
            </p>
            <p class="store-availability__information-stores">
              <a href="#" class="store-availability__information-link" data-store-availability-drawer-trigger aria-haspopup="dialog">
                {{ 'store_availability.general.check_other_stores' | t }}
              </a>
            </p>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>

    <div class="store-availability__store-list-wrapper type-body-regular" data-store-availability-list-content>
      <p class="store-availability__store-list-title mt0 type-heading-2">{{ 'store_availability.general.locations' | t }}</p>
      <div class="store-availability__store-list" >
        {%- for availability in pick_up_availabilities -%}
          <div class="store-availability-list__item{% if availability.available %} store-availability-list__item--available{% endif %}">
            <div class="store-availability-list__item-inner">
              <div class="store-availability-list__location">
                  {{availability.location.name}}
              </div>
              <div class="store-availability-list__stock">
                {%- if availability.available -%}
                  {{ 'store_availability.general.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
                {%- else -%}
                  {{ 'store_availability.general.pick_up_currently_unavailable' | t }}
                {%- endif -%}
              </div>
              {%- assign address = availability.location.address -%}
              {{ address | format_address }}
              {%- if address.phone.size > 0 -%}
                <p class="store-availability-list__phone">
                  {{ address.phone }}<br>
                </p>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": {},
  "settings": []
}
{% endschema %}
